p {
  line-height: @line-height;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.6);

  &.lead {
    font-size: 1.3em;
  }
}

b, strong {
  font-weight: 400;
}

a {
  color: @brand-primary;
  text-decoration: none;
  border-bottom: solid 2px rgba(red(@brand-primary), green(@brand-primary), blue(@brand-primary), 0.3);

  &:hover, &:focus {
    color: @brand-primary-darker;
    border-bottom-color: @brand-primary-darker;
  }

  &.unstyled {
    color: inherit;
    border-bottom: inherit;

    &:hover, &:focus {
      border-bottom: inherit;
    }
  }
}
