@text-color: #444;
@line-height: (31 / 19);
@container-width: 960px;

@video-splash-height: 700px;
@video-overlay-size: 500px;

@section-padding: 20px;

@lineup-box-spacing: 10px;
@lineup-headliner-height: 180px;
@lineup-headliner-width: (@container-width / 3);

@aerial-width: (911px / 2);
@aerial-height: (580px / 2);

@uoy-logo-width: 300px;
@uoy-logo-height: 46px;

@brand-primary: #2ecc71;
@brand-primary-darker: #27ae60;
@brand-countdown: #95a5a6;
@brand-events: #3498db;
@brand-schedule: #e74c3c;
@brand-contact: #e74c3c; // #e67e22;

@bg-primary: #ecf0f1;
@bg-secondary: #dcdfe0;
