@splash-height: 700px;
@overlay-size: 500px;

#splash {
  position: relative;
  background-color: #000;
  height: @splash-height;
  overflow: hidden;
  margin-top: -60px; // TODO: fix!
  padding: 0;

  /*
  // Gradient to fade video edge to section background colour
  &:before {
    position: absolute;
    content: ' ';

    z-index: 1;
    left: 0; right: 0;
    bottom: 0;
    height: 100px;

    background: linear-gradient(to bottom, rgba(212,216,217,0) 0%, rgba(212,216,217,1) 100%);
  }
  */
}

.splash-video {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

.splash-circle-overlay {
  position: relative;
  z-index: 1; // show above Flash

  width: @overlay-size; height: @overlay-size;
  margin: ((@splash-height - @overlay-size) / 2) auto;
  padding-top: (@overlay-size * 0.508);

  background-image: url('/img/goodfest-circle.png');
  background-size: 100%;
}

.splash-artist {
  width: (@overlay-size * 0.75);
  height: (@overlay-size * 0.25);
  margin: 0 auto;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;

  .artist-sonsandlovers & { background-image: url('/img/artists/sonsandlovers-white.png'); }
  .artist-coasts & { background-image: url('/img/artists/coasts-white.png'); }
}

.splash-info {
  position: absolute;
  z-index: 1; // show above Flash
  bottom: 30px;

  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.6);

  small { font-style: italic; }

  a {
    border-bottom: solid 1px rgba(255,255,255,0.7);
    &:hover { border-bottom: solid 1px rgba(255,255,255,1.0); }
  }

  p:last-of-type { margin-bottom: 0; }

  a, .scroll-down { text-shadow: inherit; }
}

.splash-info p {
	text-shadow: none;
}

.splash-info-left {
  left: 30px;
}

.splash-info-right {
  right: 30px;
  text-align: right;
}

.splash-video-mute {
  position: absolute;
  z-index: 1;

  display: block;
  width: 45px; height: 45px;
  right: 30px;
  top: 30px;

  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  cursor: pointer;

  background-image: url(/img/volume-control.png);
  background-size: 90px 45px;

  &.splash-video-muted { background-position: 45px 0; }
}
