@import "variables.less";

#splash {
  position: relative;
  background-color: #000;
  height: @video-splash-height;
  overflow: hidden;
  padding: 0;

  /*
  // Gradient to fade video edge to section background colour
  &:before {
    position: absolute;
    content: ' ';

    z-index: 1;
    left: 0; right: 0;
    bottom: 0;
    height: 100px;

    background: linear-gradient(to bottom, rgba(212,216,217,0) 0%, rgba(212,216,217,1) 100%);
  }
  */

  .no-flash & {
    background-size: cover;
    background-position: center;

    &.artist-sonsandlovers { background-image: url('/img/backdrops/sonsandlovers-backdrop.jpg'); }
    &.artist-coasts { background-image: url('/img/backdrops/coasts-backdrop.jpg'); }
  }
}

.splash-video {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

.splash-circle-overlay {
  position: relative;
  z-index: 1; // show above Flash

  width: @video-overlay-size; height: @video-overlay-size;
  margin: ((@video-splash-height - @video-overlay-size) / 2) auto;
  padding-top: (@video-overlay-size * 0.508);

  background-image: url('/img/goodfest-circle.png');
  background-size: 100%;

  // Hide all text in the splash overlay, it's only there for screen readers
  *, & {
    text-indent: -9999px;
    font-size: 0;
  }
}

.splash-artist {
  width: (@video-overlay-size * 0.75);
  height: (@video-overlay-size * 0.25);
  margin: 0 auto;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;

  .artist-sonsandlovers & { background-image: url('/img/artists/sonsandlovers-white.png'); }
  .artist-coasts & { background-image: url('/img/artists/coasts-white.png'); }
}

.splash-info {
  position: absolute;
  z-index: 1; // show above Flash
  bottom: 30px;

  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.6);

  .no-flash & {
    display: none;
  }

  small { font-style: italic; }

  a {
    border-bottom: solid 2px rgba(255,255,255,0.4);
    &:hover { border-bottom: solid 2px #fff; }
  }

  p {
    text-shadow: inherit;
    &:last-of-type { margin-bottom: 0; }
  }

  a, .scroll-down { text-shadow: inherit; }
}

.splash-info-left {
  left: 30px;
}

.splash-info-right {
  right: 30px;
  text-align: right;
}

.splash-video-mute {
  position: absolute;
  z-index: 1;

  display: block;
  width: 45px; height: 45px;
  right: 30px;
  top: 30px;

  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  cursor: pointer;

  background-image: url(/img/volume-control.png);
  background-size: 90px 45px;

  .no-flash & {
    display: none;
  }

  &.splash-video-muted { background-position: 45px 0; }
}
